.my-exercise-section::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  border-radius: 4px;
  background-color: #777777;
}

.my-exercise-section::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #FFCC21;
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.end_button {
  background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
}