.hexagon {
  height: 136px;
  width: 136px;
  background: blue;
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  background: linear-gradient(155.89deg, #FFCC21 8.26%, #FF963C 91.18%);
}

